.app.dark {
  --bg-color: black;
  --primary-color: black;
  --second-color: grey;
  --inverted-bg-color: #d3d3d3;
  --inverted-primary-color: black;
  --inverted-second-color: green;
}

button {
  background-color: var(--second-color);
  color: black;
}
